In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_df = pd.read_csv('trending.csv')
movie_df = movie_df.drop(columns='Unnamed: 0')

In [3]:
movie_df

,id,original_title,original_language,release_date,popularity,vote_average,vote_count,media_type,adult
0,638974,Murder Mystery 2,English,2023-03-26,235.901,6.800,187,movie,False
1,677179,Creed III,English,2023-03-01,1537.879,7.200,561,movie,False
2,726759,Tetris,English,2023-03-15,66.661,7.700,100,movie,False
3,76600,Avatar: The Way of Water,English,2022-12-14,10224.280,7.742,6335,movie,False
4,849869,길복순,Korean,2023-02-17,33.985,6.900,39,movie,False
...,...,...,...,...,...,...,...,...,...
16075,117465,NaN,Japanese,NaN,62.392,10.000,4,tv,False
16076,933419,Champions,English,2023-03-09,104.315,6.512,43,movie,False
16077,208891,NaN,Japanese,NaN,59.825,8.667,3,tv,False
16078,878375,On a Wing and a Prayer,English,2023-04-06,53.714,8.000,4,movie,False
16079,82856,NaN,English,NaN,1108.646,8.488,8697,tv,False

In [11]:
#Dropping rows with Nan
movie_df = movie_df.dropna()

In [17]:
movie_df = movie_df.reset_index().drop(columns='index')
movie_df

,id,original_title,original_language,release_date,popularity,vote_average,vote_count,media_type,adult
0,638974,Murder Mystery 2,English,2023-03-26,235.901,6.800,187,movie,False
1,677179,Creed III,English,2023-03-01,1537.879,7.200,561,movie,False
2,726759,Tetris,English,2023-03-15,66.661,7.700,100,movie,False
3,76600,Avatar: The Way of Water,English,2022-12-14,10224.280,7.742,6335,movie,False
4,849869,길복순,Korean,2023-02-17,33.985,6.900,39,movie,False
...,...,...,...,...,...,...,...,...,...
12055,1049638,Rye Lane,English,2023-03-17,30.374,7.778,18,movie,False
12056,739405,Operation Fortune: Ruse de Guerre,English,2023-01-04,184.229,6.721,297,movie,False
12057,921355,Assassin,English,2023-03-31,80.805,4.800,11,movie,False
12058,933419,Champions,English,2023-03-09,104.315,6.512,43,movie,False
12059,878375,On a Wing and a Prayer,English,2023-04-06,53.714,8.000,4,movie,False